
/*site width desktop wrapper*/
.wrapper{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/*Row spacing*/
.row{
    margin-top: 1em;
    margin-bottom: 1em;
}

/*Header*/
header .wrapper{
  display: flex;
  justify-content: space-between;
 
}

nav ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
} 

nav ul li a{
  text-decoration: none;
}

/*Hero*/
.homepage .hero{
  background-color: var(--primary-green);

}

.homepage .hero h1{
  color: var(--primary-yellow)
}

.homepage .hero h1 span, .homepage.hero p{
  color:var(--light-gray)
}

.homepage .hero .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.homepage .hero .right{
  text-align: right;
  padding-top: 30px;
}

/*Specials Section*/
.specials .specials-header{
    display: flex;
    justify-content: space-between;
}

.specials .specials-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

/*Testimonials Section*/
section.testimonials{
  background-color: var(--primary-green);
}

section.testimonials .testimonials-header{
  display: flex;
}

section.testimonials .testimonials-header h2{
  color:var(--light-gray)
}

.testimonials-cards{
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.testimonial-card{
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
  padding: 1em;
}

.testimonial-card img
{
  align-self: center;
}

.testimonial-card .rating-container{
  display: flex;
  gap: 0.1em;
}

.testimonial-card .testimonial-meta{
  text-align: center;
}
