:root{
  --primary-green: #495E57;
  --primary-yellow:#F4CE14;
  --secondary-peach: #EE9972;
  --secondary-cream: #FBDABB;
  --light-gray: #EDEFEE;
  --dark-gray: #333333;
  --border-radius:16px;
}

body {
  margin: 0;
  font-family: Karla, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lead-text{
  font-weight: bold;
}

.primary-green{
  color:var(--primary-green)
}

section{
  padding-top: 1em;
  padding-bottom: 1em;
}